<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meession.etm.module.crm.dal.mysql.customer.CrmCustomerOwnerHistoryMapper">

    <sql id="columns">
        id, customer_id, change_type, before_owner_user_id, after_owner_user_id, reason, operator_user_id, change_time, tenant_id, deleted, create_time, update_time, creator, updater
    </sql>

    <select id="selectPageByCondition" resultType="com.meession.etm.module.crm.dal.dataobject.customer.CrmCustomerOwnerHistoryDO">
        SELECT <include refid="columns"/>
        FROM crm_customer_owner_history
        WHERE deleted = 0
        <if test="customerId != null">
            AND customer_id = #{customerId}
        </if>
        <if test="changeType != null">
            AND change_type = #{changeType}
        </if>
        <if test="beginTime != null">
            AND change_time >= #{beginTime}
        </if>
        <if test="endTime != null">
            AND change_time <= #{endTime}
        </if>
        ORDER BY change_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="selectCountByCondition" resultType="int">
        SELECT COUNT(*)
        FROM crm_customer_owner_history
        WHERE deleted = 0
        <if test="customerId != null">
            AND customer_id = #{customerId}
        </if>
        <if test="changeType != null">
            AND change_type = #{changeType}
        </if>
        <if test="beginTime != null">
            AND change_time >= #{beginTime}
        </if>
        <if test="endTime != null">
            AND change_time <= #{endTime}
        </if>
    </select>

    <select id="selectByCustomerId" resultType="com.meession.etm.module.crm.dal.dataobject.customer.CrmCustomerOwnerHistoryDO">
        SELECT <include refid="columns"/>
        FROM crm_customer_owner_history
        WHERE customer_id = #{customerId} AND tenant_id = #{tenantId} AND deleted = 0
        ORDER BY change_time DESC
    </select>

</mapper>